.dialog-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  max-width: 100%;
  padding: 0 1rem;
}

.dialog-details-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

rux-push-button {
  --background-color: #571900;
  color: white;
}

rux-push-button.ack-button[checked]::part(container) {
  background-color: #141516 !important; /* gray, or whatever color */
  color: black !important; /* or change text color if needed */
  border: 1px solid #b87d7d;
  box-shadow: none;
}

rux-push-button.ack-button::part(container) {
  background-color: #df7979;
  color: black !important;
  border: 1px solid #d45a5a;
}

.mouse-hover:hover {
  cursor: pointer;
}
