.dialog-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  max-width: 100%;
  padding: 0 1rem;
}

.dialog-details-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
